

  <main class="container">
    <header>
      <div class="information">
        <h1>Natural Landscapes</h1>
        <p>Natural landscapes are geographical formations 
          in their purest state, with minimal human intervention. 
          These include mountains, forests, rivers, lakes, deserts,
          and coasts, among others. They reflect the biodiversity
          and majesty of nature, providing not only a refuge for 
          a wide variety of flora and fauna but also spaces of 
          aesthetic beauty and tranquility for humans. Natural 
          landscapes are essential for ecological balance and 
          the well-being of the planet, playing a crucial role 
          in environmental conservation and sustainable
          development.</p>
      </div>
    </header>

    
    <section class="image-gallery">
      <div class="image-item">
        <img src="img/forest1.webp" alt="Descripción de la imagen 1" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/brownforest.jpg" alt="Imagen Natural" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/darkforest.webp" alt="Imagen Natural" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/forest.webp" alt="Imagen Natural" class="img-fluid">
      </div>



      <div class="image-item">
        <img src="img/green-trees-beside-body-water-daytime (1).webp" alt="Descripción de la imagen 1" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/waterfall-with-trees-around (1).webp" alt="Imagen Natural" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/central-bohemia-high (2).webp" alt="Imagen Natural" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/nathan-anderson-cgO39sAIXpc-unsplash (2).webp" alt="Imagen Natural" class="img-fluid">
      </div>




      <div class="image-item">
        <img src="img/christopher-burns-PQfEFDAnawg-unsplash (1).webp" alt="Descripción de la imagen 1" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/elif-koyuturk-uNliRqlmBdg-unsplash (2).webp" alt="Imagen Natural" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/ciprian-boiciuc-kKadFByUqEo-unsplash (1).webp" alt="Imagen Natural" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/daniel-james-nXgivuqiZHs-unsplash (1).webp" alt="Imagen Natural" class="img-fluid">
      </div>



      <div class="image-item">
        <img src="img/yoshi-takekawa-7wk0ja-DP_c-unsplash (1).webp" alt="Descripción de la imagen 1" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/ignacio-aguilar-PK32VXa8LGM-unsplash (1).webp" alt="Imagen Natural" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/degleex-ganzorig-oXYtzFBTufs-unsplash (1).webp" alt="Imagen Natural" class="img-fluid">
      </div>

      <div class="image-item">
        <img src="img/eberhard-grossgasteiger-5P91SF0zNsI-unsplash (3).webp" alt="Imagen Natural" class="img-fluid">
      </div>

    </section>
  </main>



  <footer>
  
    <div class="partFooter">
        <h1>Teacher</h1>
        <a >Guillermo Hernandez</a>
    </div>

    <div class="partFooter">
        <h1>sources</h1>
        <a href="https://unsplash.com">Unsplash</a>
        <a href="https://www.pexels.com">Pixels</a>
    </div>

    <div class="partFooter">
        <h1>Subject</h1>
        <a>Front-End Web Development With Angular</a>


    
    </div> <div class="developer-info">
        <p>Developed by <a href="https://www.linkedin.com/in/emil-echavarria/" target="_blank">Emil Echavarria</a></p>
      </div>

</footer>
